@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
  --font-principal: 'Sriracha', cursive;
  --font-destaque: 'Passion One', cursive;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-principal);
  font-size: 3vh;
  max-width: 100vw;
}

header {
  max-height: 25vh;
  background-color: black;
  color: white;
  padding:3%;
    justify-content: center;
  
}
#titulo {
  text-align: center;
  margin: 0 auto;

}
#titulo > h1 {
  font-family: var(--font-destaque);
  font-size: 4vw;
}
#titulo > h4 {
  font-family: var(--font-destaque);
  font-size: 2vw;
}
#section01 {
  padding: 5vw;
}
#section02 {
  padding: 5vw 0 5vw 1vw;
  background-image: url(../imagens/background001.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  color: white;
}
#section02 > p {
  background-color: rgba(0, 0, 0, 0.281);
  padding: 30px;
  margin: 0;
  width: 50vw;
}

#section03 {
  padding: 5vw;
}
#section04 {
  padding: 5vw;
}
#section05 {
  padding: 5vw 0 5vw 1vw;
  background-image: url(../imagens/background002.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  color: white;
}
#section05 > p {
  background-color: rgba(0, 0, 0, 0.384);
  padding: 30px;
  margin: 0;
  width: 50vw;
}
